/*Reset styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */

/* 
  #FFAF68 moztasa
  #69D2C2 turquesa
  #FC59A2 rosado
  #8E3DCB morado

*/

/*Navigation*/ 

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  margin-left: 5px;
  font-weight: bold;
  color: #FFAF68;
  font-size: 1.3rem;
}

.container .brand {
  font-family: 'Roboto Slab', serif;
}

.navbar-nav .nav-link svg {
  margin-left: 40px;
  color: #69D2C2;
}

/*Menu*/

.container .menu a {
  font-size: 0.8rem;
  color: #FC59A2;
}

/*Hamburguer icon color*/

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28252, 89, 162, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  color: rgb(252, 89, 162);
  border: 1px solid #FC59A2;
}

/*Inicio*/

.logo-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-image: url('../images/paris.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo-container .logo {
  width: 150px;
  height: 150px;
}

/*Presentacion*/

.presentacion-container {
  min-height: 200px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentacion-container p {
  font-size: 1.1rem;
  padding: 1rem;
  margin: 2rem;
  font-style: italic;
  border: 1px solid #8E3DCB;
  border-radius: 5px;
  box-shadow: -3px 3px 7px 1px rgba(0,0,0,0.75);
  background-color: white;
}

/*Nosotros*/

.nosotros-container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  padding: 1.5rem;
  background-color: #e6e6e6;
}

.nosotros-container h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
}

.nosotros-container p {
  margin: 1rem;
  line-height: 1.3rem;
  color: #656565;
  font-size: 0.85rem;
}

/*Hero One*/

.hero-one {
  padding: 1rem;
}

.hero-one .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-one .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}

.hero-one .text .btn {
  background-color: #FC59A2;
  border: #FC59A2;
}

.hero-one .btn svg {
  color: white;
}

/* Hero Two */

.hero-two {
  padding: 1rem;
}

.hero-two .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-two .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}

.hero-two .text .btn {
  background-color: #FC59A2;
  border: #FC59A2;
}

.hero-two .btn svg {
  color: white;
}

/* Hero Three */

.hero-three {
  padding: 1rem;
}

.hero-three .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-three .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}

.hero-three .text .btn {
  background-color: #FC59A2;
  border: #FC59A2;
}

.hero-three .btn svg {
  color: white;
}

/*Servicios */

.servicios {
  margin-top: 6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.servicios .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row div svg {
  color: #FC59A2;
}

.row div a {
  color: #FC59A2;
}

/* Invitacion */

.invitacion .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invitacion .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invitacion .text h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
}

.invitacion .btn {
  background-color: #FC59A2;
  border: #FC59A2;
}

.invitacion .btn svg {
  color: white;
}

.invitacion img {
  width: 400px;
  height: 400px;
}

/*Productos*/
.productos h2 {
  color: #510e84;
  font-weight: bold;
  font-size: 2rem;
}

.producto-container {
  min-height: 600px;
  display: flex;
  align-items: center;
}

.producto-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.producto-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 0 !important;
}

/* FOOTER - PIE DE PAGINA */
.footer {
  min-height: 300px;
  background-color: #282727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
}


.footer .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  max-width: 150px;
  max-height: 150px;
}

.footer .icons {
  display: flex;
  gap:.6rem;
  justify-content: center;
  align-items: center;
}

.footer .pie {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FC59A2;
}

/* Tarjetas todos los productos*/ 
.tarjeta-todos img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tarjeta-todos .card-title {
  font-size: 1rem;
  color: #510e84;
}

/*Media querys*/

@media only screen and (max-width: 500px)  {
  .navbar-nav .social {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  
  .logo-container .logo {
    margin: 0;
  }

  .logo-container p {
    margin: 50px 300px 0 300px;
  }
}